// Page styles ------------------------------------------------

@import 'bootstrap/scss/bootstrap';

body {
    background: #eaeeff;
}

h1 {
    letter-spacing: -1px;
}

.container {
    max-width: 650px;
}

// Dropzone styles ------------------------------------------------

.dz-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    border: 1px dashed #8B8F93;
}

.main-drag-area {
    min-height: 350px;
    background: transparent;
    border: 0;
    &.dz-drag-hover {
        background: $primary;
        .dz-message {
            display: flex !important;
        }
        .dz-previews-container {
            opacity: 0.1;
        }
    }
    &:hover {
        .dz-message {
            border-style: solid;
            cursor: pointer;
        }
    }
}

.dz-additional-area {
    height: 200px;
    border: 1px dashed #8B8F93;
    &:hover {
        border-style: solid;
        cursor: pointer;
    }
}

.dz-remove-button {
    background: rgba(0,0,0,0.5);
    width: 24px;
    height: 24px;
    border-radius: 100px;
    padding: 5px;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    &:hover {
        background: rgba(0,0,0,0.75)
    }
}

// Sortable styles ------------------------------------------------

.dz-previews-container {
    transition: all 0.25s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 22px; 
    .dz-image-preview {
        &:first-child {
            grid-column: 1 / -1;
            height: 350px !important;
            position: relative;
            &:after {
                content: 'Cover';
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 10;
                color: #FFF;
                padding: 8px 10px;
                border-radius: 6px;
                margin: 8px;
                line-height: 0.9;
            }
        }
    }
}

.sortable-placeholder {
    background: #FFF;
    border: 1px dashed #8B8F93;
    @extend .rounded-3;
}